<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Fakultet">
            <directory suffix="Test.php">./tests</directory>
            <exclude>NerdTest.php</exclude>
        </testsuite>
        <testsuite name="Uvod u PHP i objektno orjentirano programiranje">
            <directory suffix="Test.php">./tests/OsnovePHP</directory>                 
            <directory suffix="Test.php">./tests/OsnovePHP/TipoviVarijableIzraziOperatori</directory>  
            <directory suffix="Test.php">./tests/OsnovePHP/PetljeNizovi</directory>      
            <directory suffix="Test.php">./tests/OsnovePHP/ObjektiFunkcije</directory>             
        </testsuite>
         <testsuite name="Osnove MySQL baze podataka">
            <directory suffix="Test.php">./tests/OsnoveMysql</directory>
        </testsuite>      
         <testsuite name="PHP i MySQL">
            <directory suffix="Test.php">./tests/PHP+MySQL</directory>
        </testsuite> 
         <testsuite name="Napredno PHP programiranje i izrada web aplikacija">
            <directory suffix="Test.php">./tests/NaprednoPHP</directory>
        </testsuite>                 
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
